<header class="header m-auto">
  <div class="container">
    <div class="d-flex justify-content-between">
      <img [src]="logo" alt="" class="">
      <ul class="navbar d-flex list-unstyled w-25 justify-content-between mb-0">
        <li>
          <a href="" class="nav-link">Home</a>
        </li>
        <li>
          <a href="" class="nav-link">About</a>
        </li>
        <li>
          <a href="" class="nav-link">Flights</a>
        </li>
        <li>
          <a href="" class="nav-link">Blog</a>
        </li>
      </ul>
      <div class="d-flex">
        <button class="btn sign-in-btn">Sign In</button>
        <button class="btn ms-3 sign-up-btn">Sign Up</button>
      </div>
    </div>
  </div>
</header>
