<div class="seat-management">
  <div class="container">
    <div class="seat-management-wrapper">
      <form [formGroup]="seatForm" (ngSubmit)="onSubmit()">
        <div class="d-flex flex-column w-25 mb-4">
          <label for="flightId">Flight id</label>
          <input formControlName="flightId" type="number" id="flightId">
        </div>
        <button type="submit" class="btn btn-primary m-3" [disabled]="seatForm.invalid">
          Create Seats
        </button>
      </form>

      <table class="table table-striped table-bordered">
        <thead>
        <tr>
          <th>Seat ID</th>
          <th>Number</th>
          <th>Place</th>
          <th>Leg space</th>
          <th>Seat class</th>
          <th>Price</th>
          <th>Available</th>
          <th>Flight ID</th>
          <th>Client ID</th>
          <th></th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let seat of seats">
          <td>{{ seat.id }}</td>
          <td>{{ seat.number }}</td>
          <td>{{ seat.place }}</td>
          <td>{{ seat.legSpace }}</td>
          <td>{{ seat.seatClass }}</td>
          <td>{{ seat.price.toFixed(2) }} €</td>
          <td>{{ seat.isAvailable }}</td>
          <td>{{ seat.flightId  }}</td>
          <td>{{ seat.clientId || "None" }}</td>
          <td><button class="btn btn-danger btn-fixed ms-2" (click)="deleteSeat(seat.id)">Delete</button></td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
