<div class="success-section d-flex align-items-center" [ngStyle]="{'background-image': 'url(' + backgroundImage + ')'}">
  <div class="container">
    <div class="login-wrapper d-flex flex-column justify-content-center text-white">
      <h1 class="text-center mb-5">Thank you for your booking!</h1>
      <h2 class="text-center mb-5">Your flight details are now available in your profile.</h2>
      <h2 class="text-center mb-5">Have a great journey!</h2>
      <button [routerLink]="'/homepage'" class="btn w-25 ms-auto me-auto">Home</button>
    </div>
  </div>
</div>
