<div class="seats-view mb-5">
  <app-header></app-header>
  <div class="container">
    <div class="seats-view-wrapper d-flex justify-content-between mt-5">
      <div class="left-panel">
        <div class="filters">
          <h3 class="mb-4 text-center">Filters</h3>
          <form [formGroup]="seatsForm" (ngSubmit)="onSearch()">
            <div>
              <label for="place">Place</label>
              <select formControlName="place" id="place" name="place" class="input-field mb-3">
                <option value="" selected>-</option>
                <option *ngFor="let place of seatPlaceValues" [value]="place.toString()">{{ place }}</option>
              </select>
            </div>
            <div>
              <label for="legSpace">Leg space</label>
              <select formControlName="legSpace" id="legSpace" name="legSpace" class="input-field mb-3">
                <option value="" selected>-</option>
                <option *ngFor="let space of legSpaceValues" [value]="space.toString()">{{ space }}</option>
              </select>
            </div>
            <div>
              <label for="seatClass">Class</label>
              <select formControlName="seatClass" id="seatClass" name="seatClass" class="input-field mb-3">
                <option value="" selected>-</option>
                <option *ngFor="let classValue of seatClassValues" [value]="classValue.toString()">{{ classValue }}</option>
              </select>
            </div>
            <div>
              <input formControlName="nextToExit" id="nextToExit" type="checkbox" class="me-2">
              <label for="nextToExit" class="mb-5">Next to exit</label>
            </div>

            <button class="btn search-btn" type="submit">Search</button>
          </form>
        </div>
        <div class="passengers mt-5">
          <h3 class="mb-3">Passengers</h3>
          <div class="passenger mb-3" *ngFor="let seat of selectedSeats">
            <button class="btn"
              (click)="assignSelectedPassenger(selectedSeats.indexOf(seat) + 1)"
                    [ngStyle]="selectedSeats.indexOf(seat) + 1 == selectedPassenger ? { 'background-color': '#ff3859', 'color': '#ffffff' } :
                              { 'background-color': '#e5e5e5' }">
              Passenger {{ selectedSeats.indexOf(seat) + 1 }}: Seat {{ seat.seat.number }}
            </button>
          </div>
        </div>
      </div>
      <div class="choose-seat ">
        <h3 class="mb-4 text-center">Choose Seat</h3>
        <div class="legend d-flex">
          <div class="available d-flex">
            <div class="legend-color available-color"></div>
            <p class="ms-2 me-5">Available</p>
          </div>
          <div class="selected d-flex">
            <div class="legend-color selected-color"></div>
            <p class="ms-2 me-5">Selected</p>
          </div>
          <div class="occupied d-flex">
            <div class="legend-color occupied-color"></div>
            <p class="ms-2 me-5">Occupied</p>
          </div>
          <div class="filtered d-flex">
            <div class="legend-color filtered-color"></div>
            <p class="ms-2">Filtered</p>
          </div>
        </div>
        <div class="seats d-flex justify-content-center">
          <div class="left-seats d-flex me-5">
            <div class="me-3">
              <div *ngFor="let seat of windowLeft trackBy: trackBySeat">
                <button
                  [ngClass]="{'mb-5': seat.number >= 7 && seat.number <= 12 || seat.number >= 19 && seat.number <= 24}"
                  [disabled]="!seat.isAvailable"
                  [ngStyle]="!seat.isAvailable ? {'background-color':'#e0e0e0'} :
                        checkSeat(seat) ? {'background-color': '#ff3859'} :
                        isFound(seat) ? {'background-color': '#4eb042'} :
                        {'background-color':'#C08B7D'}"
                  (click)="onSeatClick(seat)">{{ getSeatText(seat) }}
                </button>
              </div>
            </div>
            <div class="me-3">
              <div class="middle-seats" *ngFor="let seat of middleLeft; trackBy: trackBySeat">
                <button
                  [ngClass]="{'mb-5': seat.number >= 7 && seat.number <= 12 || seat.number >= 19 && seat.number <= 24}"
                  [disabled]="!seat.isAvailable"
                  [ngStyle]="!seat.isAvailable ? {'background-color':'#e0e0e0'} :
                        checkSeat(seat) ? {'background-color': '#ff3859'} :
                        isFound(seat) ? {'background-color': '#4eb042'} :
                        {'background-color':'#C08B7D'}"
                  (click)="onSeatClick(seat)">{{ getSeatText(seat) }}
                </button>
              </div>
            </div>

            <div>
              <div class="aisle-seats" *ngFor="let seat of aisleLeft trackBy: trackBySeat">
                <button
                  [ngClass]="{'mb-5': seat.number >= 7 && seat.number <= 12 || seat.number >= 19 && seat.number <= 24}"
                  [disabled]="!seat.isAvailable"
                  [ngStyle]="!seat.isAvailable ? {'background-color':'#e0e0e0'} :
                        checkSeat(seat) ? {'background-color': '#ff3859'} :
                        isFound(seat) ? {'background-color': '#4eb042'} :
                        {'background-color':'#C08B7D'}"
                  (click)="onSeatClick(seat)">{{ getSeatText(seat) }}
                </button>
              </div>
            </div>
          </div>

          <div class="right-seats d-flex">
            <div class="me-3">
              <div class="aisle-seats" *ngFor="let seat of aisleRight trackBy: trackBySeat">
                <button
                  [ngClass]="{'mb-5': seat.number >= 7 && seat.number <= 12 || seat.number >= 19 && seat.number <= 24}"
                  [disabled]="!seat.isAvailable"
                  [ngStyle]="!seat.isAvailable ? {'background-color':'#e0e0e0'} :
                        checkSeat(seat) ? {'background-color': '#ff3859'} :
                        isFound(seat) ? {'background-color': '#4eb042'} :
                        {'background-color':'#C08B7D'}"
                  (click)="onSeatClick(seat)">{{ getSeatText(seat) }}
                </button>
              </div>
            </div>

            <div class="me-3">
              <div class="middle-seats" *ngFor="let seat of middleRight trackBy: trackBySeat">
                <button
                  [ngClass]="{'mb-5': seat.number >= 7 && seat.number <= 12 || seat.number >= 19 && seat.number <= 24}"
                  [disabled]="!seat.isAvailable"
                  [ngStyle]="!seat.isAvailable ? {'background-color':'#e0e0e0'} :
                        checkSeat(seat) ? {'background-color': '#ff3859'} :
                        isFound(seat) ? {'background-color': '#4eb042'} :
                        {'background-color':'#C08B7D'}"
                  (click)="onSeatClick(seat)">{{ getSeatText(seat) }}
                </button>
              </div>
            </div>

            <div>
              <div *ngFor="let seat of windowRight trackBy: trackBySeat">
                <button
                  [ngClass]="{'mb-5': seat.number >= 7 && seat.number <= 12 || seat.number >= 19 && seat.number <= 24}"
                  [disabled]="!seat.isAvailable"
                  [ngStyle]="!seat.isAvailable ? {'background-color':'#e0e0e0'} :
                         checkSeat(seat) ? {'background-color': '#ff3859'} :
                        isFound(seat) ? {'background-color': '#4eb042'} :
                        {'background-color':'#C08B7D'}"
                  (click)="onSeatClick(seat)">{{ getSeatText(seat) }}
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="trip-details">
        <div class="details mb-4">
          <h3 class="text-center">Trip Details</h3>
          <div class="line mb-4"></div>
          <div class="departure-destination">
            <h4 class="fs-5 mb-1">{{ departureDate }}</h4>
            <p>{{ departureTime }}, {{ departure }} - {{ destinationTime }}, {{ destination }}</p>
          </div>
        </div>
        <div class="cost mb-4">
          <div class="passenger-cost d-flex justify-content-between" *ngFor="let selected of selectedSeats">
            <p>Passenger {{ selected.passengerIndex }}</p>
            <p>{{ selected.seat.price.toFixed(2) }}€</p>
          </div>
          <div class="total d-flex justify-content-between fw-bold fs-4">
            <p>Total</p>
            <p>{{ calculateTotal() }}€</p>
          </div>
        </div>
        <button (click)="onBook()" class="btn book-btn">Book</button>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
