<footer class="text-white pt-5 pb-5">
  <div class="container">
    <div class="footer-wrapper d-flex">
      <div class="about">
        <img [src]="footerLogo" alt="" class="mb-3">
        <p class="fw-normal mb-4">
          Hello, we are Lift Media.
          Our goal is to translate the
          positive effects from revolutionizing
          how companies engage with their clients
          & their team.
        </p>
        <div class="social-media">
          <img [src]="socialMedia" alt="">
        </div>
      </div>
      <div class="navigation d-flex justify-content-between w-50">
        <div class="footer-nav">
          <p class="mb-4 fw-bold">Product</p>
          <ul class="p-0">
            <li class="nav mb-2">About</li>
            <li class="nav mb-2">Career</li>
            <li class="nav mb-2">Blog</li>
            <li class="nav mb-2">Special Offers</li>
          </ul>
        </div>
        <div class="footer-nav">
          <p class="mb-4 fw-bold">Help</p>
          <ul class="p-0">
            <li class="nav mb-2">FAQ</li>
            <li class="nav mb-2">Help Center</li>
            <li class="nav mb-2">Privacy Policy</li>
          </ul>
        </div>
        <div class="footer-nav">
          <p class="mb-4 fw-bold">Partner</p>
          <ul class="p-0">
            <li class="nav mb-2">Partner Hub</li>
            <li class="nav mb-2">Affiliates</li>
            <li class="nav mb-2">Advertise</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>
